@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  color: #000;
  background: #1B191A;
}

.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 198px;
  gap: 20px;
}

.card-list__item {
  min-height: 480px;
  list-style: none;
}

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__top {
  flex-shrink: 0;
  position: relative;
  max-height: 240px;
}

.card__img {
  border-radius: 8px 8px 0 0;
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__rewards {
  position: absolute;
  list-style: none;
  top: 16px;
  right: 16px;
}

.card__reward {
  display: block;
  margin-bottom: 8px;
}

.card__reward-icon {
  display: block;
}

.card__name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px 8px 0px 8px;
  color: #FFF;
}

.card__bottom {
  background: #FFF;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  padding: 16px;
}

.card__description {
  color: #000;
  flex-grow: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.btn {
  background: #8C32FF;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  color: #fff;
}

.card__btn {
  align-self: flex-start;
}

@media (max-width: 1600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    flex-direction: row;
  }

  .card__img {
    width: 345px;
    height: 264px;
    border-radius: 8px 0 0 8px;

  }

  .card-list__item {
    min-height: auto;
    max-width: 710px;
  }

  .card__top {
    max-height: max-content;
  }

  .card__bottom {
    border-radius: 0 8px 8px 0;
    padding: 16px 9px 16px 20px;
  }
}

@media (max-width: 1480px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-list__item {
    margin: 0 auto;
  }
}

@media (max-width: 750px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
      flex-direction: column;
    }

  .card__img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    object-fit: cover;

  }

  .card-list__item {
    min-height: auto;
    max-width: 710px;
  }

  .card__top {
    max-height: max-content;
  }

  .card__bottom {
    border-radius: 0 0 8px 8px;
    padding: 16px 9px 16px 20px;
  }
}